.hero__about {
  background-image: url('/images/gypsy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__title {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  font-family: var(--font3);
  margin-top: 2rem;
}
.about__textbox {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  text-align: justify;
}
.about__info {
  max-width: 40rem;
  width: 60%;
  font-size: 1.2rem;
}
.rose-pic {
  min-width: 8rem;
  min-height: 12rem;
  background-image: url('http://images.clipartpanda.com/accent-clipart-rcnKGE5cR.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(270deg) scale(2.5);

  &-right {
    transform: rotateX(180deg) rotate(90deg) scale(2.5);
  }
}
