@import "variables";
@import "landing";
@import "recent";
@import "about";
@import "blogs";
@import "blog-single";


* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --font1: 'Satisfy', 'Helvetica Neue', Arial, sans-serif;
  --font2: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  --font3: 'Lovers Quarrel', 'Helvetica Neue', Arial, sans-serif;
  --font4: 'Cormorant Garamond', 'Helvetica Neue', Arial, sans-serif;
  --font5: 'Bad Script', 'Helvetica Neue', Arial, sans-serif;
  --font6: 'Tangerine', 'Helvetica Neue', Arial, sans-serif;
}
.linkto {
  text-decoration: none;
}
.full-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app {
  min-height: 100vh;

  &__footer {
    background: #000;
    color: #fff;
    padding: .5rem 0;
    text-align: center;
  }
}
