.hero__recent {
  min-height: 100vh;
  display: flex;
}
.blurb__grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}
.blurb__item {
  display: flex;
  width: calc(100% / 2 - 2rem);
  margin: 1rem;
  height: 100%;
  max-height: 30rem;
  position: relative;
}
.overlay__grid-item {
  display: flex;
  opacity: 0;
  transition: opacity 600ms;
  height: 100%;
  max-height: 30rem;
  &:hover {
    opacity: 1;
  }
}
.blurb__textbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: var(--font1);
  background: #666;
  opacity: .8;
  text-align: center;
}
.blurb__title {
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--font1);
}
.blurb__text {
  font-family: var(--font4);
  padding: 0 1.5rem;
  font-size: 1.1rem;
}
.blurb__date {
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font6);
  font-size: 1.5rem;
}
.continue {
  font-size: 1rem;
  width: 10rem;
  padding: .6rem;
  background: $red;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 3%;
}
