  <div class="hero__landing">
    <div class="titlebox">
      <p class="title__name">Laurie M. Sutton</p>
      <hr>
      <p class="subtitle__landing">Blogs from me to you.</p>
    </div>
    <div class="btnbox__landing">
      <a href="#recent" class="btn__landing"{{action "scrollToSkills"}}>Blogs<i class="fa fa-arrow-down fa-fw" aria-hidden="true"></i></a>
    </div>
  </div>

{{liquid-outlet}}
