<div class="full-page">
  <nav>
    <div class="nav__textbox">
      <ul class="nav-links">
        {{#link-to 'about' class="nav-links__item"}}About{{/link-to}}
        <li class="nav-links__item">Blogs</li>
        <li class="nav-links__item">Articles</li>
        <li class="nav-links__item">Books</li>
        <li class="nav-links__item">Work in progress</li>
      </ul>
    </div>
  </nav>

  <div class="app">
    {{liquid-outlet}}
  </div>
</div>
