<div class="app">
  <div class="hero__single">
    <div class="blog-pic"></div>
    <div class="container__single">
      <div class="single__textbox">
        <p class="title__single">Teenagers ~ Wait... What?</p>
        <p class="single__post single__post-first">Raising teens is a little like trying to brush your teeth with a toilet bowl brush.  It is unsavory, painful and inefficient.  I run around trying to satisfy their needs only to be seen as outdated, slow, unappreciative and embarrassing.</p>
        <p class="single__post">For example, my daughter decides she wants to come with me to a wedding the morning of.  "Great!" I think to myself.  "This will be a fun, relaxed time with my daughter." Naturally she needs a new dress and jewelry so we rush to the nearest boutique. and an hour or so later we emerge with dress and accessories in hand.  Once home, I run upstairs and do my normal routine of trying every dress I own to find one that flatters my "voluptuous" figure.  Hurriedly I dress and apply make-up keeping an eye on the time.  Finally, I rush downstairs without a minute to spare.  After calling to my daughter and waiting 8 more minutes, she finally appears and we scramble out the door... late.  She looks gorgeous as usually with not one hair out of place and perfectly applied make-up.</p>
        <p class="single__post">We arrive and sit with her older brother and nephews.  It was a lovely wedding and afterwards we enjoy refreshments in a park-like setting.  So what does a teenage girl do at a wedding reception in a dress and heels and perfectly coiffed head of hair?  Teeter totter with their older brother of course!  This ends badly with 3 broken nails, split down the middle and blood on her brand new dress.  Somehow it's my fault.  I rush her to our nail salon where they repair her nails to prevent infection and further damage.  Do I get a thank you.  Ummmm, no.  Luckily, I have been through this process before and I know that one day my thank you will come.  </p>
        <p class="single__post single__post-last">For now I just have to resist the urge to pack her off to boarding school.  I once heard raising kids is like shooting an arrow.  You aim for the target, hold steady and then let go.  I'm in the holding steady stage and it's a lot harder than you think!  Patience, hope and a very thick skin are required.  I abound in hope but patience and a thick skin are definitely lacking.  Hold steady... we are almost there!</p>
      </div>
    </div>
  </div>
</div>

{{liquid-outlet}}
